/* layout */
.layout {width: calc(100% - 80px); height: calc(100% - 20px); padding: 0 40px 20px 40px;}



/**********************************************************************************
// header
**********************************************************************************/

.layout .header {width: 100%; height: 30px; overflow: hidden;}
.layout .toolbar {height: 100% !important;}



/**********************************************************************************
// content
**********************************************************************************/

/* 높이는 header(30px) 제외 */
.layout .content {width: 100%; height: calc(100% - 30px); overflow: hidden;  background-color: #eeeeee;}



/**********************************************************************************
// dhtmlx
**********************************************************************************/

.dhx_toolbar {min-height: auto;}
.dhx_toolbar .dhx_navbar {padding: 0;}