/* layout */
#layout {width: 100%; height: 100%;}

/**********************************************************************************
// header
**********************************************************************************/

#layout .header {width: 100%; height: 45px !important; min-height: auto; background-color: white; overflow: hidden;}

/* 로고 */
#layout .header .logo {width: auto; height: 21px; padding: 0 30px 0 20px; cursor: pointer;}

/* 툴바 */
#layout .header .dhx_toolbar__item {display: flex;}
#layout .header .dhx_toolbar__item:last-child {margin-right: 20px;}
#layout .header .dhx_navbar {padding: 0;}

/* 툴바버튼 */
#layout .header .dhx_toolbar-button {padding: 6px 10px 6px 10px; font-family: "맑은고딕"; font-size: 11px; font-weight: bold; color: #333333;}
#layout .header .dhx_toolbar-button__icon::before {font-size: 15px; line-height: 15px; color: #548EB4;}
#layout .header .dhx_toolbar-button__text {font-size: 11px; color: #333333; font-weight: bold;}
/* 툴바 separator */
#layout .header .dhx_toolbar__item--separator {margin: 0 10px 0 10px;}

/* 세로구성 */
#layout .header.dark {background-color: #094368;}
#layout .header.dark .dhx_toolbar-button__text {color: white;}




/**********************************************************************************
// 상단메뉴 (가로)
**********************************************************************************/

#layout .top_menu {height: 32px; overflow: hidden; padding-left: 20px; background-color: #094368;}

/* 메뉴버튼 */
#layout .top_menu .dhx_nav-menu-button {line-height: 12px; padding: 10px 15px; font-family: "맑은고딕"; font-size: 12px; font-weight: bold; color: white;}
#layout .top_menu .dhx_nav-menu-button--active {background-color: #f2f2f2; color: #333333;}

/* 2레벨 이상 메뉴 */
.menu--popup-menu .dhx_menu {box-shadow: 2px 2px 4px rgba(0,0,0,0.1);}
.menu--popup-menu .dhx_menu-item {min-width: 180px;}
.menu--popup-menu .dhx_menu-button {padding: 4px 10px 4px 10px; font-family: "맑은고딕"; font-size: 12px; font-weight: bold; color: #333333;}
.menu--popup-menu .dhx_menu-button__caret {color: #2193da;}

/* .menu--popup-menu .dhx_menu 에 border 추가시 border 영역에 마우스가 올라가면 메뉴가 닫히는 이슈가 있어 아래처럼 처리 */
.menu--popup-menu .dhx_menu::before {width: 100%; height: 100%; position: absolute; top: 0; left: 0; box-shadow: 0 0 0 1px #dddddd inset; content: "";}
.menu--popup-menu .dhx_menu-button--active:not(:disabled),
.menu--popup-menu .dhx_menu-button:active:not(:disabled),
.menu--popup-menu .dhx_menu-button:focus:not(:disabled),
.menu--popup-menu .dhx_menu-button:hover:not(:disabled) {background-color: transparent;}

.menu--popup-menu .dhx_menu-button--active:not(:disabled)::before,
.menu--popup-menu .dhx_menu-button:active:not(:disabled)::before,
.menu--popup-menu .dhx_menu-button:focus:not(:disabled)::before,
.menu--popup-menu .dhx_menu-button:hover:not(:disabled)::before {width: calc(100% - 2px); height: calc(100% - 2px); z-index: -1; position: absolute; top: 1px; left: 1px; background-color: #f2f2f2; content: "";}



/**********************************************************************************
// 좌측메뉴 (세로)
**********************************************************************************/

#menu {width: 100%; height: 100%;}

#layout .left_menu {width: 200px; border-right: 1px solid #d3d3d3; overflow: hidden; transition: width 0.1s; user-select: none;}
#layout .left_menu .dhx_tree-folder,
#layout .left_menu .dhx_tree-list-item {padding: 0;}
#layout .left_menu .dhx_tree-list-item__text {transition: opacity 0.1s;}
/* 하위메뉴 들여쓰기 간격 */
#layout .left_menu .dhx_tree-list {padding: 0 0 0 18px;}
/* 메뉴 아이콘 크기 */
#layout .left_menu .dhx_tree-list-item__icon {display: none;}
/* 토글 아이콘 크기 및 색상 */
#layout .left_menu .dhx_tree-toggle-button::before {color: #548eb4;}
/* 선택된 메뉴 배경색 및 선택바 */
#layout .left_menu .dhx_tree-folder--selected:before,
#layout .left_menu .dhx_tree-list-item--focused:before {background-color: white;} /* focused 순서 중요 : selected 보다 전에 스타일을 주어야 selected 가 우선권을 가진다 */
#layout .left_menu .dhx_tree-list-item--selected:before {background-color: #c3dff1; box-shadow: 4px 0 0 0 #0288d1 inset;}

/* 1레벨 메뉴 (folder) */
#layout .left_menu > .dhx_tree-list-item > .dhx_tree-folder {height: 35px; padding-left: 18px; border-bottom: 1px solid #d3d3d3; overflow: hidden;}
#layout .left_menu > .dhx_tree-list-item > .dhx_tree-list {border-bottom: 1px solid #d3d3d3;}
#layout .left_menu > .dhx_tree-list-item > .dhx_tree-list::before {width: 4px; height: calc(100% - 35px); box-shadow: 4px 0 0 0 #0288d1 inset; position: absolute; left:0; top: 35px; content: "";}
/* 1레벨 메뉴 배경색 및 선택바 */
#layout .left_menu > .dhx_tree-list-item > .dhx_tree-folder:before,
#layout .left_menu > .dhx_tree-list-item > .dhx_tree-list-item:before {background-color: #f9f9f9; box-shadow: none; z-index: auto;}
/* 1레벨 메뉴 아이콘 크기 및 색상 */
#layout .left_menu > .dhx_tree-list-item > .dhx_tree-folder > .dhx_tree-list-item__content > .dhx_tree-list-item__icon {display: inline-block;}
#layout .left_menu > .dhx_tree-list-item > .dhx_tree-folder > .dhx_tree-list-item__content > .dhx_tree-list-item__icon:before {font-size: 15px; }
/* 1레벨 메뉴 글자 색상 및 크기 */
#layout .left_menu > .dhx_tree-list-item__text {font-family: "맑은고딕"; font-size: 12px; font-weight: bold; color: #333333;}
/* 1레벨 메뉴 토글아이콘 위치 */
#layout .left_menu > .dhx_tree-list-item > .dhx_tree-folder > .dhx_tree-toggle-button {width: 22px; height: 100%; position: absolute; top: 0; right: 0; z-index: 1; transition: opacity 0.1s, z-index 0s 0.1s;}
#layout .left_menu > .dhx_tree-list-item > .dhx_tree-folder > .dhx_tree-toggle-button::before {width: 100%; height: 100%; font-size: 12px; line-height: 12px; color: #333333; display: flex; align-items: center; justify-content: center; z-index: 0;
	/* fontawsom 아이콘으로 */
	font-family: "Font Awesome 5 Free" !important; font-weight: 900 !important; font-style: normal; font-variant: normal; text-rendering: auto; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased;
}
#layout .left_menu > .dhx_tree-list-item > .dhx_tree-folder > .dhx_tree-toggle-button.dxi-menu-right::before {content: "\f054";} /* fas fa-chevron-right */
#layout .left_menu > .dhx_tree-list-item > .dhx_tree-folder > .dhx_tree-toggle-button.dxi-menu-down::before {content: "\f078";} /* fas fa-chevron-down */

/* 1레벨 메뉴 (item) */
#layout .left_menu > .dhx_tree-list-item.dhx_tree-list__item > .dhx_tree-list-item__content {height: 35px; padding-left: 18px; border-bottom: 1px solid #d3d3d3; overflow: hidden;}
/* 1레벨 메뉴 (item) 배경색 */
#layout .left_menu > .dhx_tree-list-item.dhx_tree-list__item:before {background-color: #f9f9f9; z-index: auto;}
/* 1레벨 메뉴 (item) 선택시 배경색 및 선택바 */
#layout .left_menu > .dhx_tree-list-item.dhx_tree-list__item.dhx_tree-list-item--selected:before {background-color: #c3dff1; box-shadow: 4px 0 0 0 #0288d1 inset;}
/* 1레벨 메뉴 (item) 아이콘 크기 및 색상 */
#layout .left_menu > .dhx_tree-list-item > .dhx_tree-list-item__content > .dhx_tree-list-item__icon {display: inline-block;}
#layout .left_menu > .dhx_tree-list-item > .dhx_tree-list-item__content > .dhx_tree-list-item__icon::before {font-size: 15px;}

/* 2레벨 이상 메뉴 */
#layout .left_menu .dhx_tree-list-item__content {height: 29px; overflow: hidden;}

/* 메뉴 접혔을때 */
#layout .left_menu.close {width: 50px;}
#layout .left_menu.close > .dhx_tree-list-item > .dhx_tree-folder > .dhx_tree-toggle-button {opacity: 0; z-index: -1;}
#layout .left_menu.close .dhx_tree-list-item__text {opacity: 0;}

/* 메뉴 토글버튼 */
#layout .menu_toggle {width: 12px; height: 20px; background-color: #004196; font-size: 12px; color: white; border-radius: 0 5px 5px 0; display: flex; position: absolute; left: 200px; top: 70px; cursor: pointer; z-index: 1; transition: left 0.1s;}
#layout .menu_toggle::before {content: "\f104"} /* fas fa-angle-left */
#layout .menu_toggle.close {left: 50px;}
#layout .menu_toggle.close::before {content: "\f105"} /* fas fa-angle-right */



/**********************************************************************************
// tabbar
**********************************************************************************/

#tabbar {width: 100%; height: 100%; position: relative;}

#layout .tabbar {width: 100%; height: 20px; padding: 0 20px 0 20px;  box-sizing: border-box; overflow: hidden;}
/* 탭바 전체 밑줄 */
#layout .tabbar::before {width: 100%; height: 1px; background-color: #d9d9d9; position: absolute; left: 0; bottom: 0; content: "";}
#layout .tabbar .dhx_tabbar-tab-button {padding: 0; font-size: 10px; color: #333333; font-weight: bold; background-color: #f5f5f5; border-right: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; display: flex; align-items: center; justify-content: center;}
/* 탭바 선택시 */
#layout .tabbar .dhx_tabbar-tab-button.dhx_tabbar-tab-button--active {background-color: white; border-bottom: 1px solid white;}
/* 탭바 닫기버튼 */
#layout .tabbar .dhx_tabbar-tab__close {color: #333333;}
/* dhtmlx 설정 적용 안할 css */
#layout .tabbar .dhx_tabbar-header__wrapper {border: 0;}
#layout .tabbar .dhx_tabbar-header-active {z-index: -1;}

/* 홈탭 : 닫기버튼 제거 */
#layout .tabbar .dhx_tabbar-tab.home .dhx_tabbar-tab__close {display: none;}

/* 홈버튼 */
#layout .tabbar_home {width: 20px; height: 20px; position: absolute; top: 0; left: 0; border-right: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; box-sizing: border-box; font-size: 12px; color: #333333; background-color: white; cursor: pointer; z-index: 1; transition: background 0.2s;}
#layout .tabbar_home:hover {background-color: #f5f5f5;}
/* 전체닫기버튼 */
#layout .tabbar_close {width: 20px; height: 20px; position: absolute; top: 0; right: 0; border-left: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; box-sizing: border-box; font-size: 12px; color: #333333; background-color: white; cursor: pointer; z-index: 1; transition: background 0.2s;}
#layout .tabbar_close:hover {background-color: #f5f5f5;}
/* 오른쪽 탭이동 버튼 */
#layout .tabbar .dhx_tabbar_scroll.arrow-right {width: 20px; height: 20px; right: 20px; padding: 0; color: #333333; background: white; border-left: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; box-sizing: border-box; z-index: 1;}
/* 왼쪽 탭이동 버튼 */
#layout .tabbar .dhx_tabbar_scroll.arrow-left {width: 20px; height: 20px; right: unset; left: 20px; padding: 0; color: #333333; background: white; border-right: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; box-sizing: border-box; z-index: 1;}



/**********************************************************************************
// iframe
**********************************************************************************/

#iframe {width: 100%; height: 100%; overflow: hidden;}
#iframe iframe {width: 100%; height: 100%;}



/**********************************************************************************
// bottom
**********************************************************************************/

#bottom {width: 100%; height: 40px; background-color: #9e9e9e; font-size: 10px; color: white; overflow: hidden; display: flex; flex-direction: row; align-items: center; justify-content: space-between;}
#bottom .copyright {padding-left: 40px;}
#bottom .info {padding-right: 40px;}